.suggest{
		width:173px ;
		background: grey;
		border:1px;
		solid:grey;	
}
.suggest ul{
		list-style: none;
		margin: 0;padding: 0;
}
.suggest ul li{
		padding:3px;
		line-height: 20px;
		cursor: pointer;
}
.suggest ul li:hover{
		text-decoration: underline;background-color: silver;
}
